<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Happy Healthy Home</h1>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">prizes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container noMargin">
    <div class="row">
        <div class="col-sm">
            <h4>Add Child</h4>
            <form class="login">
                <div class="form-group">
                    <input type="text" class="form-control" id="text-input" placeholder="Name">
                </div>
                <button class="addChild">Add</button>
            </form>
            <form id="cms">
                <div class="form-group">
                    <div class="form-group">
                        <label for="category">Assign Chore</label>
                        <select class="custom-select" id="author">
                        </select>
                    </div>
                    <br>
                    <label for="title">Chore title</label>
                    <input placeholder="Post Title" type="text" class="form-control" id="title">
                    <br />
                    <label for="body">Value</label>
                    <textarea placeholder="Post Body" class="form-control" rows="1" id="body"></textarea>

                    <br />
                    <button type="submit" class="btn btn-success submit">Submit</button>
                </div>
            </form>

        </div>
        <div class="col-sm">
            <div class="userInfo">
                <div class="infoBody">
                    <h4 class="userName">Family Name</h4>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img/avatar.jpg" alt="Card image cap">
                <div class="card-body">
                    USER!!!:{{{user.kid}}}
                    <h5 class="card-title"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">POINTS: 50</li>
                    <li class="list-group-item">Clean Dishes: 5 points <br>2/5/2021<br><button class="complete"
                            data-id=1>complete</button><button class="deny" data-id=1>delete</button></li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <h2 class="newPrize">Add Prize</h2>
            <form class="login">
                <div class="form-group">
                    <input type="text" class="form-control" id="prize-input" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="prize-value" placeholder="Name">
                </div>
                <button class="addPrize">Add</button>
            </form>
            <ul class="prize">
                <div class="card">
                    <div class="card-body">
                        <h2 class="prizeName">PS5</h2>
                        <p>Price: 100 coins</p>
                        <p><button class="deletePrize" data-id=1>Delete</button></p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<div id="part2">
    <p id="txt6"><i class="material-icons tiny"> copyright</i>copyright 2019 BBbootstrap - All right reserved</p>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/home.js"></script>