<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Happy Healthy Home</h1>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">prizes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">chores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="newChores">Available Chores</h2>
            <ul class="chores">
                <div class="card">
                    <div class="card-body">
                        <h2 class="choreName">mow the lawn</h2>
                        <p>3 coins</p>
                        <p><button class="claim" data-id=1>Claim</button></p>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-sm">
            <div>
                <img class="avatar" src="avatar.jpg">
            </div>
            <div class="userInfo">
                <div class="infoBody">
                    <h4 class="userName">Test User</h4>
                    <p class="coins">coins: 10</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h2 class="newPrize">Prizes</h2>
            <ul class="prize">
                <div class="card">
                    <div class="card-body">
                        <h2 class="prizeName">PS5</h2>
                        <p>Price: 100 coins</p>
                        <p><button class="getPrize" data-id=1>Claim</button></p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<div id="part2">
    <p id="txt6"><i class="material-icons tiny"> copyright</i>copyright 2019 BBbootstrap - All right reserved</p>
</div>
</div>