<div class="login-page">
    <div class="form">
        <h4>Happy Healthy Home</h4>
        <form class="login-form">
            <input type="text" placeholder="E-mail" />
            <input type="text" placeholder="username" />
            <input type="password" placeholder="password" />
            <button>Create Account</button>
            <a href="#">already have an account?</a>
        </form>
    </div>
</div>