<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Happy Healthy Home</h1>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">prizes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">chores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div>
                <!-- <img class="mainimage" src="avatar.jpg"> -->
            </div>
            <h2 class="add">Add a prize</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="ca"></label>
                    <input type="text" id="ca" name="name">
                </div>
                <button type="submit" class="submit">Submit!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2 class="newChoreHead">Available Prizes!</h2>
            <ul class="availableChores">
                <div class="card">
                    <div class="card-body">
                        <h2 class="burgerName">trampoline</h2>
                        <h4 class="price">50 Coins</h4>
                        <p><button class="claim" data-id=1>Claim</button></p>
                    </div>
                </div>
            </ul>

        </div>
    </div>
    <div class="footer">
        <div id="container">
            <div class="footer_center">
                <h3>Classy footer text</h3>
            </div>
        </div>
    </div>