.login
{
    background-color:#f0ead6;
  width: 275px;
    margin: 0 auto;
    margin-top: 300px;
    padding: 8% 0 0;
    margin: auto;
  
}
body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/370/123/non_2x/girl-and-maid-cleaning-the-house-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


  .form {
    position: relative;
    background:#f0ead6;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 25px;
    margin-top: 150px;
    box-shadow:5px 10px 8px black;
    font-family: 'Courgette', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Sigmar One', cursive;
  }
  .form input {
    font-family: 'Courgette', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Sigmar One', cursive;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: 'Courgette', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    outline: 0;
    background: #2692FF;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
  }

  h4{
    font-family: 'Hachi Maru Pop', cursive;
    font-size: medium;
    font-weight: bold;
  }
  