body{
    background-image: url(http://www.neatlings.com/uploads/4/5/1/2/45121665/editor/kids-cleaning-living-room.jpg?1526318032);
    background-repeat: inherit;
    background-size: cover;
}
.display-4
{
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bolder;
    
}
.addChild{
    background-color:#2692FF;
    color: white;
    border-radius: 5px;
}
.form-control{
    border-radius: 5px;
}
.custom-select{
    background-color:#2692FF; 
    color: white;
    border-radius: 5px;
}
.complete{
    background-color:#2692FF;
    color: white;
    border-radius: 5px;
}
.deny{
    background-color:#2692FF;
    color: white;
    border-radius: 5px;
}
.addPrize{
    background-color:#2692FF;
    color: white;
    border-radius: 5px;
}
.submit{
    background-color:#2692FF;
    color: white;
    border-radius: 5px;
}
.deletePrize{
    background-color:#2692FF;
    color: white;
    border-radius: 5px;
}
.col-sm{
    background-color: #f0ead6;
    border-radius: 10px;
    margin: 20px;
    resize: inherit;
    box-shadow:5px 10px 8px black;
    font-family: 'Courgette', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Sigmar One', cursive;
}
.nav-item{
    font-size: 25px;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight:bolder;
}

.newChores
{
text-align: center;
padding-top: 10px;
}

.newPrize
{
    text-align: center;
padding-top: 10px;
}

.mainimage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 40%;
     padding-top: 10px;
    
}

.userInfo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 40%;
     padding-bottom: 50px;
     text-align: center;
}

#part2 {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     
    font-size: 20px;
    color:black;
    font-family: 'Courgette', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sigmar One', cursive; 
}

.col-sm
{
    padding-left: 15px;
    padding-right: 15px;
}

body{
    width: 100%;
}

.form-group
{
    text-align: left;
}
.add
{
    text-align: left;
}
.addP
{
    text-align: right;
}

.prize
{
   
   text-align: center;
}

.newChores{
   
    text-align: center;
}

.noMargin
{
    margin:0,! important;
    margin-right: 0.25! important;
    padding:0 ! important;

}

.choreName
{
    text-align: center;
}
p{
    text-align: center;
}

.login
{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
     text-align: center;
}

h4{
    text-align: center;
}

.card-img-top
{
     width: 40%;
}

.card
{
    width:50%;
    text-align: center;
    align-items: center;
    margin-left: 40px;
    box-shadow:5px 10px 8px black;
}

